@page
@model SysDVW.Pages.Products.product_listModel
@{
}

<div class="content-wrapper">
    <div class="col-12 bg-gradient-white">
        <span class="text-danger text-center">@Html.ValidationMessage("CustomError")</span>
        <div class="card-header row">
            <div class="col-4">
                <h3 class="card-title">Listado de Productos</h3>
            </div>
            <div class="offset-4 col-4 text-right">
                <a asp-page="/Products/Newproduct" class="puntero btn btn-primary btn-sm text-right"> <i class="fas fa-plus-circle"></i> Nuevo Producto</a>
            </div>
        </div>
        <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Categoria</th>
                        <th>Marca</th>
                        <th>Nombre</th>
                        <th>Cantidad</th>
                        <th>ITBIS</th>
                        <th>Precio Compra</th>
                        <th>Precio Venta</th>
                        <th>Precio Maximo</th>
                        <th>Precio Minimo</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ProductListView.ProductList != null && Model.ProductListView.ProductList.Count() > 0)
                    {
                        foreach (var item2 in Model.ProductListView.ProductList)
                        {
                            <tr>
                                <th scope="row">@item2.IdProducto</th>
                                <td>@item2.Categoria</td>
                                <td>@item2.Marca</td>
                                <td>@item2.Nombre</td>
                                <td class="@item2.classbg">@item2.Stock</td>
                                <td>@item2.itbis.ToString("C2")</td>
                                <td>@item2.PrecioCompra.ToString("C2")</td>
                                <td>@item2.PrecioVenta.ToString("C2")</td>
                                <td>@item2.Pmin</td>
                                <td>@item2.Pmax</td>
                                <td>
                                    <a onclick="Edit(@item2.IdProducto)" class="text-success puntero"> <i class="fas fa-edit"></i></a> /
                                    <a onclick="alerta(@item2.IdProducto)" alt="Eliminar" class="text-danger puntero"> <i class="fas fa-trash-alt"></i></a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

        <div class="text-right mr-3">
            <label>Total de Ganancia en Inventario = <span class="text-bold text-primary">@Model.ProductListView.allmoneysgain.ToString("C2")</span></label> &nbsp; &nbsp;
            @*<label>Total Vendido Hoy = <span class="text-bold text-success">@Model.SalesListView.allmoneysalestoday</span></label>*@
        </div>

    </div>
</div>

@section Scripts {
    <script src="~/Theme/js/ProductScript.js"></script>
    <script>
        function alerta(id) {
            var opcion = confirm("Esta seguro Desea Eliminar?");
            if (opcion == true) {
                window.location.href = "product-list?ID=" + id + "&handler=Deleteproduct";
            } else { }
        }
    </script>
    <script>
        function Edit(id) {
            window.location.href = "/Products/EditProduct?ID=" + id;
        }
    </script>
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["excel", "pdf", "print"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
}